<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页</title>
    {% include 'base_css.html' %}
    <style>
        .even {
            background-color: lightseagreen;
        }

        .blue {
            background-color: deepskyblue;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: yellowgreen;
        }

        .yellow {
            background-color: yellow;
        }

        tr:hover {
            background-color: white;
        }
    </style>
</head>
<body>

<h3 style="color: green;">
    第三个用户名：{{ datas.1.name }}
</h3>
<h3 style="color: red">
    今天请客：{{ error_name }}
</h3>
<p style="color: white;background-color:blue;">
    <span>VIP:</span>
    <span>{{ vip.name.upper }}-{{ vip.money }}</span>
</p>
<ul>
    {% for key,value in vip.items %}
        <li>{{ key }}={{ value }}</li>
    {% endfor %}

</ul>
<h3>{{ msg }}</h3>
<ul>
    {% for user in datas %}
        <li>{{ user.id }} {{ user.name }}</li>
    {% endfor %}
</ul>
<table class="table table-bordered table-responsive">
    <thead>
    <th>ID</th>
    <th>账号</th>
    <th>真实姓名</th>
    <th>手机号</th>
    </thead>
    <tbody>
    {% if datas %}
        {% for user in datas %}
            {#            <tr class="{% cycle "blue" "red" "green" "yellow" %}">#}
            <tr {% ifequal forloop.counter|divisibleby:2 0 %}class="even" {% endifequal %}>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.realprofile.real_name }}</td>
                <td>{{ user.phone }}</td>
            </tr>

        {% empty %}
            <td>无数据</td>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% autoescape off %}
    <pre>
    {{ info }}
    </pre>
{% endautoescape %}
{{ info|escape }}
{{ years|add:5 }}
{{ years|add:-2 }}
<br>
{#{{ now|date:"Y-m-d H:i:s" }}#}
{#{{ now|date:"sho" }}#}
{% for path,f_stat in files.items %}
    <p>
        {{ path|ellisp }} 的文件大小 {{ f_stat.st_size|filesizeformat }}
    </p>
{% endfor %}




{% include 'base_js.html' %}
</body>
</html>